<div id="brand-wrapper"><span id="brand"><span>co</span>ncerted</span></div>

<div class="instructions"><strong>Instructions:</strong><br />Jump around!</div>

<div id="shaked"></div>

<canvas id="gauge"></canvas>

<div class="hearts">
  <div class="heart-container red">
    <div class="heart-shape"></div>
  </div>
  <div class="heart-container purple">
    <div class="heart-shape"></div>
  </div>
</div>
